<div class="paneSection paneSection__root">
  <h1>Page Style</h1>

  <div class="pageStylesControl fg">
    <h2>Page Sections</h2>
    <i>settings</i>
  </div>
  <div class="sectionStylesContainer">

    <!-- section -->
    <div class="sectionStyle" data-section="head">
      <div class="sectionStyleHead fg">
        <div class="moveSection">
          <i>drag_handle</i>
        </div>
        <h2>Page Header</h2>
        <div class="sectionStyleHead__controls">
          <i class="deleteSection">delete</i>
          <i class="openSectionSettings">settings</i>
          <i class="dropdownIndicator">down_angle</i>
        </div>
      </div>

      <div class="columnStylesContainer col1">
        <h3 class="bkgSettings" data-sectionname="head">Background Settings<i>settings</i></h3>
        <div class="columnStyle__core">
          <div class="columnStyle fg" data-column="1">
            <h3>Column 1</h3>
            <div class="columnStyle__controls">
              <i class="deleteColumn">delete</i>
              <i class="openColumnSettings">settings</i>
            </div>
          </div>
        
        </div>
        <div class="addColumn fg"><i>add_circle</i><span>Add a Column</span></div>
      
      </div>
    </div>

    <!-- section -->
    <div class="sectionStyle" data-section="hero">
      <div class="sectionStyleHead fg">
        <div class="moveSection">
          <i>drag_handle</i>
        </div>
        <h2>Hero Background</h2>
        <div class="sectionStyleHead__controls">
          <i class="deleteSection">delete</i>
          <i class="openSectionSettings">settings</i>
          <i class="dropdownIndicator">down_angle</i>
        </div>
      </div>

      <div class="columnStylesContainer">
        <h3 class="bkgSettings" data-sectionname="hero">Background Settings<i>settings</i></h3>
        <div class="columnStyle__core">

          <div class="columnStyle fg" data-column="1">
            <h3>Column 1</h3>
            <div class="columnStyle__controls">
              <i class="deleteColumn">delete</i>
              <i class="openColumnSettings">settings</i>
            </div>
          </div>

          <div class="columnStyle fg" data-column="2">
            <h3>Column 2</h3>
            <div class="columnStyle__controls">
              <i class="deleteColumn">delete</i>
              <i class="openColumnSettings">settings</i>
            </div>
          </div>
        
        </div>
        <div class="addColumn fg"><i>add_circle</i><span>Add a Column</span></div>

      </div>
    </div>

    <!-- section -->
    <div class="sectionStyle" data-section="countdown">
      <div class="sectionStyleHead fg">
        <div class="moveSection">
          <i>drag_handle</i>
        </div>
        <h2>Registration Countdown</h2>
        <div class="sectionStyleHead__controls">
          <i class="deleteSection">delete</i>
          <i class="openSectionSettings">settings</i>
          <i class="dropdownIndicator">down_angle</i>
        </div>
      </div>

      <div class="columnStylesContainer col1">
        <h3 class="bkgSettings" data-sectionname="countdown">Background Settings<i>settings</i></h3>
        <div class="columnStyle__core">
          <div class="columnStyle fg" data-column="1">
            <h3>Column 1</h3>
            <div class="columnStyle__controls">
              <i class="deleteColumn">delete</i>
              <i class="openColumnSettings">settings</i>
            </div>
          </div>
        
        </div>
        <div class="addColumn fg"><i>add_circle</i><span>Add a Column</span></div>

      </div>
    </div>

    <!-- section -->
    <div class="sectionStyle" data-section="footer">
      <div class="sectionStyleHead fg">
        <div class="moveSection">
          <i>drag_handle</i>
        </div>
        <h2>Footer</h2>
        <div class="sectionStyleHead__controls">
          <i class="deleteSection">delete</i>
          <i class="openSectionSettings">settings</i>
          <i class="dropdownIndicator">down_angle</i>
        </div>
      </div>

      <div class="columnStylesContainer col1">
        <h3 class="bkgSettings" data-sectionname="footer">Background Settings<i>settings</i></h3>
        <div class="columnStyle__core">
          <div class="columnStyle fg" data-column="1">
            <h3>Column 1</h3>
            <div class="columnStyle__controls">
              <i class="deleteColumn">delete</i>
              <i class="openColumnSettings">settings</i>
            </div>
          </div>
        
        </div>
        <div class="addColumn fg"><i>add_circle</i><span>Add a Column</span></div>

      </div>
    </div>

    <div class="addSection fg"><i>add_circle</i><span>Add a Section</span></div>
  </div>
</div>

{% include settingsPane.html %}
